@charset "UTF-8";

#container {
   margin:0 auto;  /* 화면 중앙에 배치 */
   width:1200px;    /*너비*/
}

table
{
    border-spacing: 0px;
    /* border-style: none; */
    padding: 0px;
}
td
{
    border-spacing: 0px;
    border-style: none;
    padding: 0px;
}

li
{
	list-style:none;
	float: left;
}

a
{
	text-decoration-line:none;
}


/* .img_box1
{
	position:absolute;
	top:30%;
	left:30%;
	transform: translate(-50%,-50%);
	margin: 20px 20px 20px 20px;
}

 .img_box2
{
	position:absolute;
	top:30%;
	left:50%;
}

.img_box3
{
	position:absolute;
	top:30%;
	left:70%;
} */

#list1 li
{
	float:left;
	margin-right:30px;
}

 .main_image11, .main_image22, .main_image33
{	
	width:100%;
	height:100%;
   position: relative;
   z-index: -1;
   opacity:0.3;
}

.search_box
{
	display: inline-block;
	position: relative;
    top: 6px;
	width: 150px;
	height: 28px;
	border : 1px solid #cccccc;
	border-radius: 30px;
	padding-right: 10px;
}

.search_text
{
    position: relative;
    top: -8px;
    left: 5px;
	width: 100px;
	border: 0px;
	height: 22px;
	margin:5px;
}

.search_text:focus
{
	outline: none;
}
.search_img
{
	margin-top: 5px;
	width:20px;
	height:20px;
	border: 0px;
}

 .main_image_text
{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate( -25%, 50% );
   color: black;
   z-index: 1;
}

.right {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.right li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.right li a {
  display: block;
  padding: 10px;
  color: #B0BEC5;
  text-decoration: none;
  transition: ease .2s;
}

.right li:hover {
  background: #CE93D8;
  border-left: 3px solid #9C27B0;
}

.right li:hover a {
  color: #FFFFFF;
}

.foodnotice
{
	border:1px solid black;
	background-color: Aqua;
}