#container {
    margin:0px 0px 0px 100px;  
    max-width:1200px; 
    width: 1200px;
    transform: translate(0%, 5%);
}

/* 계좌이체 전체너비,여백 */
table
{
    border : solid 1px darkgrey;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

/* 계좌이체 정보 내부 테두리,여백*/
td
{
    border: 1px solid darkgray; 
    padding: 5px;
    height: 30px;
}

/* 계좌정보 입력상자 */
.num
{
    border: 1px solid gray;
    width: 304px;
    height: 28px;
    border-top: none;
}

p
{
    font-size: 25px;
    font-weight: bolder;
}

input[type=text]{
    height: 38px;
}